name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Node.js ${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    container:
      image: node:${{ matrix.node }}
    strategy:
      matrix:
        os:
          - macox-latest
          - ubuntu-latest
          - windows-latest
        node:
          - lts
          - 24
          - 22
          - 20
          - 18
          - 16
          - 14
          - 12
    steps:
    - uses: actions/checkout@v4
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test --if-present
    - run: npm run lint --if-present
